stages:
  - setup
  - deploy

setup-minikube:
  stage: setup
  tags:
    - shell
  script:
    - ansible-playbook minikube_dir/minikube-setup.yml
    - mkdir -p $CI_PROJECT_DIR/.kube
    - cp ~/.kube/config $CI_PROJECT_DIR/.kube/config
  artifacts:
    paths:
      - .kube/config
  only:
    - main

deploy-app:
  stage: deploy
  tags:
    - shell
  variables:
    KUBECONFIG: /var/lib/gitlab-runner/.kube/config
  script:
    - kubectl config use-context minikube
    - kubectl create namespace demo || true
    - kubectl apply -f minikube_dir/deployment.yaml -n demo
    - kubectl get pods -n demo
  needs:
    - job: setup-minikube
      artifacts: true
  only:
    - main
