apiVersion: v1
kind: Pod
metadata:
  name: keycloak-postgres-pod
  labels:
    app: keycloak-stack
spec:
  hostNetwork: true
  containers:

  - name: postgres
    image: postgres:15
    ports:
      - name: db
        containerPort: 5432
    env:
      - name: POSTGRES_DB
        value: keycloakdb
      - name: POSTGRES_USER
        value: keycloak
      - name: POSTGRES_PASSWORD
        value: keycloakpass
    volumeMounts:
      - name: pgdata
        mountPath: /var/lib/postgresql/data

  - name: keycloak
    image: quay.io/keycloak/keycloak:latest
    ports:
      - name: http
        containerPort: 8080
    args: ["start-dev"]
    env:
      - name: KC_DB
        value: postgres
      - name: KC_DB_URL_HOST
        value: localhost  
      - name: KC_DB_URL_DATABASE
        value: keycloakdb
      - name: KC_DB_USERNAME
        value: keycloak
      - name: KC_DB_PASSWORD
        value: keycloakpass
      - name: KEYCLOAK_ADMIN
        value: admin
      - name: KEYCLOAK_ADMIN_PASSWORD
        value: admin

  volumes:
    - name: pgdata
      emptyDir: {}

